*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: rgb(146, 144, 195);
}
.wrapper{
    display: flex;

}
.wrapper .main-content{
    width: 100%;
}
.wrapper .main-content .header{
    color: black;
    height: 50px;
    /* width: auto; */
    text-align: center;
    padding-top: 15px;
    background-color: rgb(45, 149, 150);
}
.wrapper .main-content .info{
    padding-left: 10px;
}
.sidebar{
    width: 170px ;
    height: 100vh;
    background-color:rgb(27, 26, 85);
    /* padding: 10px 10px; */

}
.wrapper h2{
    display: block;
    font-size: 25px;
    text-align: center;
    border-bottom: 1px solid black;
    color: white;
    font-weight: 500;
    padding-top:15px ;
    padding-bottom: 10px;
}
.wrapper ul {
    list-style: none;
    
}
.wrapper ul li{
    line-height: 40px;
}
.wrapper ul li a {
    text-decoration: none;
    color: white;
    
}
.wrapper ul li a i{
    margin-right: 5px;
    width:30px;
}

.wrapper ul li:hover a{
    color:blue;
}


/* .wrapper ul li:: hover{
    background-color:rgb(7, 15, 43) ;
} */
